<% @food.comments.each do |comment| %>
    <hr>
    <div class="row">
        <div class="col-md-12"> 
            <%= comment.name %>
            <span class="pull-right"><%= time_ago_in_words(comment.created_at)%></span>
            <p><%=comment.body%></p>

        </div>
    </div>
    <hr>
<% end %>