<div class="row carousel-holder"> 

                    <div class="col-md-12">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <%= image_tag("1.png",
                                         alt: "Description of your image",
                                         class: "img-responsive") %>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>