<h1 style="text-align:center">
	Contatos
</h1>
<hr>
<br>
<h3 style="text-align:center">
	<i class="fa fa-phone"></i> 9999999
</h3>
<h3 style="text-align:center">
	<i class="fa fa-facebook-square"></i> <a href="https://www.facebook.com/nalouca/" target="_blank">Facebook</a>
</h3>
<h3 style="text-align:center">
	<i class="fa fa-camera"></i> <a href="https://www.instagram.com/na.louca/" target="_blank">Instagram</a>
</h3>